#join-area {
  width: 40%;
  margin: 12% auto;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
    }

    h3 {
      color: whitesmoke;
      font-size: 18px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    input {
      background-color: rgb(222, 222, 240);
      color: rgba(0, 0, 0, 0.7);
      font-weight: 600;
      font-size: 14px;
      padding: 12px 10px;
      min-width: 320px;
      border-radius: 3px;
      border: none;

      &:focus {
        outline: none;
      }
    }
    div {
      display: flex;
      justify-content: center;

      button {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -1px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
        margin-top: 15px;
        border: none;
        background-color: #ec3062;
        color: white;
        padding: 12px 45px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);

          svg {
            transform: translateX(10px);
          }
        }

        &:disabled {
          background-color: grey;
          box-shadow: none;
          cursor: not-allowed;
          transform: none;

          svg {
            transform: none;
          }
        }

        svg {
          margin-left: 10px;
          width: 19px;
          height: 19px;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
